@model CreateConsolationTemplateInfoStep

<h2 class="step-title">
    @Strings.CreateConsolationTemplateInfoStep
</h2>

<hr />

@using (Ajax.BeginForm("Create_TemplateInfoStep", "Consolations", null, new AjaxOptions { UpdateTargetId = "wizard_step", LoadingElementId = "loading", OnBegin = "onBegin" }, new { @id = "frm_template_info" }))
{
    @Html.AntiForgeryToken()

    foreach (var field in Model.Fields)
    {
        <div class="form-group">
            <label for="@($"tf_{field.Name}")" class="control-label">@field.DisplayName</label>
            <div>
                @Html.TextBox($"tf_{field.Name}", field.Value, new { @class = "form-control" })
                <span class="small text-muted">@field.Description</span>
                @Html.Hidden($"tfdc_{field.Name}", field.Description)
                @Html.Hidden($"tfdn_{field.Name}", field.DisplayName)
            </div>
        </div>
    }
}

<div class="form-group">
    <button id="btn_submit" type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span>
        @Strings.ConfirmAndPreview
    </button>
    @using (Ajax.BeginForm("GetTemplateSelectionView", "Consolations", null, new AjaxOptions { UpdateTargetId = "wizard_step", LoadingElementId = "loading", OnBegin = "onBegin" }, new { @id = "frm_prev", @style = "display: inline-block;" }))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
            @Strings.PreviousStep
        </button>
    }
</div>

<div class="text-danger">
    @Html.ValidationSummary()
</div>

<script>
    $(function () {
        $('#btn_submit').click(function () {
            $('#frm_template_info').submit();
        });
    });
</script>