@model CreateConsolationObitSelectionStepVM

<h2 class="step-title">
    @Strings.CreateConsolationObitSelectionStep
</h2>

<hr />

@using (Ajax.BeginForm("Create_ObitSelectionStep", "Consolations", null,
                                                                new AjaxOptions { UpdateTargetId = "wizard_step", LoadingElementId = "loading", OnBegin = "onBegin" },
                                                                new { @id = "frm_obit" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="ProvinceID" class="control-label">@Strings.Province</label>
        <div>
            <select name="ProvinceID" id="ProvinceID" class="form-control">
                <option value=""></option>
                @foreach (var p in SamUtils.Utils.CityUtil.Provinces)
                {
                    <option value="@p.ID" @(Model.ProvinceID.HasValue && p.ID == Model.ProvinceID.Value ? Html.Raw("selected=\"selected\"") : Html.Raw(""))>@p.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="CityID" class="control-label">@Strings.City</label>
        <div>
            <select name="CityID" id="CityID" class="form-control">
                @if (Model.Cities != null && Model.Cities.Any())
                {
                    <option value=""></option>
                    foreach (var c in Model.Cities)
                    {
                        <option value="@c.ID" @(Model.CityID.HasValue && c.ID == Model.CityID.Value ? Html.Raw("selected=\"selected\"") : Html.Raw(""))>@c.Name</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="MosqueID" class="control-label">@Strings.Mosque</label>
        <div>
            <select name="MosqueID" id="MosqueID" class="form-control">
                @if (Model.Mosques != null && Model.Mosques.Any())
                {
                    <option value=""></option>
                    foreach (var m in Model.Mosques)
                    {
                        <option value="@m.ID" @(Model.MosqueID.HasValue && m.ID == Model.MosqueID.Value ? Html.Raw("selected=\"selected\"") : Html.Raw(""))>@m.Name</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="ObitID" class="control-label">@Strings.Obit</label>
        <div>
            <select name="ObitID" id="ObitID" class="form-control">
                @if (Model.Obits != null && Model.Obits.Any())
                {
                    <option value=""></option>
                    foreach (var o in Model.Obits)
                    {
                        <option value="@o.ID" @(Model.ObitID.HasValue && o.ID == Model.ObitID.Value ? Html.Raw("selected=\"selected\"") : Html.Raw(""))>
                            @o.Title : @o.ObitTypeDisplay (@o.HoldingTimeDisplay)
                        </option>
                    }
                }
            </select>
        </div>
        <div id="relatedObits" @(Model.AllRelatedObits != null && Model.AllRelatedObits.Any() ? Html.Raw("") : Html.Raw("style=\"display: none;\""))>
            <p style="padding: 10px 0;">@Messages.RelatedObitsSelectionMessage</p>
            <ul style="list-style: none;">
                @if (Model.AllRelatedObits != null && Model.AllRelatedObits.Any())
                {
                    foreach (var obit in Model.AllRelatedObits)
                    {
                        var elId = $"relatedobit_{obit.ID}";

                        <li style="margin: 5px 0;">
                            <input name="@elId" id="@elId" type="checkbox" @(Model.RelatedObitIds != null && Model.RelatedObitIds.Contains(obit.ID) ? Html.Raw("checked=\"checked\"") : Html.Raw("")) />
                            <label for="@elId" style="padding: 0 5px 0 0;">
                                @($"{obit.Title} : {obit.ObitTypeDisplay} ({obit.HoldingTimeDisplay})")
                            </label>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span>
            @Strings.ConfirmAndContinue
        </button>
    </div>

    <div class="text-danger">
        @Html.ValidationSummary()
    </div>
}

<script>

    $('#ProvinceID').change(function () {
        var provinceId = $(this).val();
        if (provinceId != '') {
            $('#CityID').prop('disabled', true);
            $.ajax({
                url: '/home/getprovincecities/' + provinceId,
                type: 'GET',
                success: onProvChangeSuccess,
                error: onAjaxError
            });
        }
    });

    $('#CityID').change(function () {
        var cityId = $(this).val();
        if (cityId != '') {
            $('#MosqueID').prop('disabled', true);
            $.ajax({
                url: '/consolations/getcitymosques/' + cityId,
                type: 'GET',
                success: onCityChangeSuccess,
                error: onAjaxError
            });
        }
    });

    $('#MosqueID').change(function () {
        var mosqueId = $(this).val();
        if (mosqueId != '') {
            $('#ObitID').prop('disabled', true);
            $.ajax({
                url: '/consolations/getallobits?mosqueId=' + mosqueId,
                type: 'GET',
                success: onMosqueChangeSuccess,
                error: onAjaxError
            });
        }
    });

    $('#ObitID').change(function () {
        var obitId = $(this).val();
        if (obitId != '') {
            onBegin();
            $('#loading').show();
            $.ajax({
                url: '/consolations/getrelatedobits?obitId=' + obitId,
                type: 'GET',
                success: onObitChangeSuccess,
                error: onAjaxError
            });
        }
    });

    function onProvChangeSuccess(data) {
        try {
            $('#CityID').html('<option></option>');
            $.each(data, function (key, val) {
                $('#CityID').append('<option value="' + val.ID + '">' + val.Name + '</option>');
            });
            $('#CityID').prop('disabled', false);
        } catch (e) {
            alert(e.message);
        }
    }

    function onCityChangeSuccess(data) {
        try {
            $('#MosqueID').html('<option></option>');
            $.each(data, function (key, val) {
                $('#MosqueID').append('<option value="' + val.ID + '">' + val.Name + ': ' + val.Address + '</option>');
            });
            $('#MosqueID').prop('disabled', false);
        } catch (e) {
            alert(e.message);
        }
    }

    function onMosqueChangeSuccess(data) {
        try {
            $('#ObitID').html('<option></option>');
            $.each(data, function (key, val) {
                $('#ObitID').append('<option value="' + val.ID + '">' + obitDisplayName(val) + '</option>');
            });
            $('#ObitID').prop('disabled', false);
        } catch (e) {
            alert(e.message);
        }
    }

    function onObitChangeSuccess(data) {
        try {
            if (data.length > 0) {
                var selectedObit = $("#ObitID").val();
                $('#relatedObits ul').empty();
                for (var i = 0; i < data.length; i++) {
                    var obit = data[i];
                    var elId = 'relatedobit_' + obit.ID;
                    $('#relatedObits ul').append('<li style="margin: 5px 0;">' +
                        '<input name="' + elId + '" id="' + elId + '" type="checkbox" />' +
                        '<label for="' + elId + '" style="padding: 0 5px 0 0;">' +
                            obitDisplayName(obit) +
                        '</label>' +
                    '</li>');
                    $('#relatedObits').show();
                }
            } else {
                $('#relatedObits ul').empty();
                $('#relatedObits').hide();
            }

            $('#loading').hide();
        } catch (e) {
            alert(e.message);
        }
    }

    function onAjaxError(data) {
        alert('@Messages.SomthingWrongHappend');
    }

    function obitDisplayName(obit) {
        return obit.Title + ' : ' + obit.ObitTypeDisplay + ' (' + obit.HoldingTimeDisplay + ')';
    }

</script>