@model CreateConsolationPreviewStepVM

@{
    var baseUrl = new Uri(System.Configuration.ConfigurationManager.AppSettings["api_host"]);
    var previewImageUrl = new Uri(baseUrl, $"{SamUtils.Constants.ApiActions.consolations_getpreview}/{Model.CreatedConsolation.ID}");
    var amount = Model.CreatedConsolation.AmountToPay;
}

<h2 class="step-title">
    @Strings.CreateConsolationPreviewStep
</h2>

<hr />

<div class="form-group">
    <small class="text-muted">
        @(amount > 0 ? Messages.CreateConsolationPreviewStepExplanation : Messages.CreateConsolationPreviewStepExplanationFree)
    </small>
</div>

<div class="form-group" style="text-align: center;">
    <img style="width: 100%; height: auto; max-width: 500px; margin: 0 auto;"
         src="@previewImageUrl.ToString()" />
    <br /><br />
    @if (amount > 0)
    {
    <strong>
        @Strings.AmountToPay:
        @amount.ToString("N0")
        @Strings.PriceUnit
    </strong>
    }
</div>

<div class="form-group">
    @if (amount > 0)
    {
        <form method="post" action="@Model.BankPageUrl" style="display: inline-block;">
            <input type="hidden" name="TOKEN" value="@Model.PaymentToken" />
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>
                @Strings.ConfirmAndPay
                (@amount.ToString(SamUtils.Constants.StringFormats.price)
                @Strings.PriceUnit)
            </button>
        </form>
        <a class="btn btn-default" href="@Url.Action("Index", "Home")">
            <span class="glyphicon glyphicon-remove"></span>
            @Strings.Cancel
        </a>
    }
    else
    {
        <a class="btn btn-default" href="@Url.Action("Index", "Home")">
            <span class="glyphicon glyphicon-arrow-right"></span>
            @Strings.BackToMainPage
        </a>
    }
</div>