@model CreateConsolationPreviewStepVM

@{ 
    var baseUrl = new Uri(System.Configuration.ConfigurationManager.AppSettings["api_host"]);
    var previewImageUrl = new Uri(baseUrl, $"{SamUtils.Constants.ApiActions.consolations_getpreview}/{Model.CreatedConsolation.ID}");
    var amount = Model.CreatedConsolation.Template.Price;
}

<h2 class="step-title">
    @Strings.CreateConsolationPreviewStep
</h2>

<hr />

<div class="form-group">
    <small class="text-muted">
        @Messages.CreateConsolationPreviewStepExplanation
    </small>
</div>

<div class="form-group" style="text-align: center;">
    <img style="width: 100%; height: auto; max-width: 500px; margin: 0 auto;"
         src="@previewImageUrl.ToString()" />
    <br /><br />
    <strong>
        @Strings.AmountToPay:
        @amount.ToString("N0")
        @Strings.PriceUnit
    </strong>
</div>

<div class="form-group">
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-ok"></span>
        @Strings.ConfirmAndPay
        (@amount.ToString("N0")
        @Strings.PriceUnit)
    </button>
    <a class="btn btn-default" href="@Url.Action("Index", "Home")">
        <span class="glyphicon glyphicon-remove"></span>
        @Strings.Cancel
    </a>
</div>
