<div class="page-content">

    <h2 class="step-title">
        @Strings.ContactUs
    </h2>

    <hr />

    <p class="text-muted">
        @Messages.ContactUsText
    </p>

    <table class="table table-bordered" style="margin-top: 10px;">
        <tbody>
            <tr>
                <td>@Strings.Email:</td>
                <td>
                    <strong>
                        admin@samsys.ir
                    </strong>
                </td>
            </tr>
            <tr>
                <td>@Strings.Telegram:</td>
                <td>
                    <a href="http://t.me/samsysadmin">
                        <strong>samsysadmin</strong>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <dl>
        <dt>
            @Strings.OfficeAddress
        </dt>
        <dd style="padding: 10px 0;">
            @Strings.OfficeAddressText
        </dd>
        <dt>
            @Strings.OfficeTel
        </dt>
        <dd style="padding: 10px 0;">
            <span style="direction: ltr;">04433432015</span>
        </dd>
    </dl>

</div>